<div id="<%= dom_id image %>">
  <p>
    <strong>Name:</strong>
    <%= link_to image.name, image_path(image) %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image_tag image.picture.url, size: "450x270" if image.picture? %>
  </p>

  <p>
    <strong>User:</strong>
    <%= image.user_id %>
  </p>

</div>
