<div id="<%= dom_id image %>">
  <h5>
    <strong>Name :</strong>
    <%= link_to image.name, image_path(image) %>
  </h5>
  <h5>
    <strong>User Email : </strong>
    <%= image.user&.email %>
  </h5>

  <p>
    <%= image_tag image.picture.url, size: "800x500", style: "border: 2px solid black;" if image.picture? %>
  </p>



</div>
